.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size {
  width: 1300px;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 0px;
}

.header-icon {
  font-size: 60px;
  color: rgb(236, 12, 12);
}
.tittle {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: cursive;
}
.tittle > span {
  color: rgb(236, 12, 12);
  font-family: cursive;
}
h4 {
  margin: 0px;
}

.contact {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.space > .contact > i {
  border: 1px solid none;
  background-color: rgb(236, 12, 12);
  padding: 3px;
  color: aliceblue;
}

.space {
  display: block;
  margin-top: 20px;
}

.home-block > ul {
  margin-top: 5px;
}

.home-block > ul > li {
  display: inline-block;
  padding-left: 10px;
}

.social-media-block {
  display: flex;
  justify-content: flex-end;
  /* float: right; */
  gap: 20px;
  margin-top: 0px;
  color: rgb(236, 12, 12);
}
input {
  padding: 3px;
}

.boxes {
  display: flex;
  gap: 10px;
}
.box:hover {
  background-color: rgb(175, 29, 29);
}

.box {
  border-bottom: 3px solid rgb(175, 29, 29);
  padding: 10px;
  width: 200px;
  color: white;
  background-color: rgb(49, 55, 64);
  margin-bottom: 10px;
}

.icon-heading-flex {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.box > .icon-heading-flex > i {
  color: rgb(236, 12, 12);
}
.box > p {
  font-size: 15px;
}

.bgimg-grid-block {
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  width: 100%;
  height: 700px;
  margin-bottom: 20px;
}

.bgimg-size {
  margin-left: 0 !important;
  border: 1px solid green;
}

/*part4*/

.multipurpose-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.button1 {
  padding: 10px 70px;
  color: aliceblue;
  background-color: rgb(236, 12, 12);
}
.button2 {
  background-color: rgb(49, 55, 64);
}

h2 > span {
  color: rgb(236, 12, 12);
}

.bottom-line {
  border-bottom: 2px solid rgb(236, 12, 12);
  margin-top: 20px;
}

.background2 {
  margin: 30px 0px;
  background-color: #f1f1f1;
}

.Expertise-block {
  /* margin: 30px 0px; */
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}

.Expertise-block > div > p {
  margin-top: 20px;
}

.color-i {
  color: rgb(236, 12, 12);
}

.background3 {
  background-color: rgb(55, 51, 51);
  color: aliceblue;
}

.information-block-flex {
  display: flex;
  justify-content: center;
  align-items:start;
  gap: 30px;
  padding: 40px;
}
.information-block-flex >div>p {
  width: 400px;
  margin: 20px 0;
  color: grey;
}


.information-block-flex >div>span{
  color: #f1f1f1;
}

.information-button-flex {
  display: flex;
  justify-content: start;
  align-items: center;
}

.web-design-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.web-icon-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.bottom-lines {
  border-bottom: 1px solid grey;
  width: 210px;
  padding: 10px;
}
.icon-sidebyside{
  display: flex;
  align-items: center;
  gap:20px;
  font-size: 20px;
 
}
.icon-sidebyside>i{
  border: 1px solid none;
  background-color: red;
  padding: 10px;
  border-radius: 50%;
  /* margin-top: 5px; */
  
}


.KONTAKT-block>p{
  margin-top: 20px;
  color: aliceblue !important;

}